
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>MY INFO</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  contact -->
<div class="contact">
    <div class="col-md-12 avatar">
        <img src="images/avatar.png" alt="Avatar" class="avatar">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form id="request" class="main_form">
                    <div class="row">
                        <div class="col-md-12">
                            First Name
                            <input class="contactus" placeholder="First Name" type="type" name="Name">
                        </div>
                        <div class="col-md-12">
                            Last Name
                            <input class="contactus" placeholder="Last Name" type="type" name="LastName">
                        </div>
                        <div class="col-md-12">
                            Phone Number
                            <input class="contactus" placeholder="Phone Number" type="type" name="PhoneNumber">
                        </div>
                        <div class="col-md-12">
                            Email
                            <input class="contactus" placeholder="Email" type="type" name="Email">
                        </div>
                        <div class="col-md-12">
                            Room Number
                            <input class="contactus" placeholder="Room Number" type="type" name="RoomNumber">
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <form id="request" class="main_form">
                    <div class="row">
                        <div class="col-md-12">
                            Gender
                            <input class="contactus" placeholder="Gender" type="type" name="Gender">
                        </div>
                        <div class="col-md-12">
                            Majors
                            <input class="contactus" placeholder="Majors" type="type" name="Majors">
                        </div>
                        <div class="col-md-12">
                            Address
                            <textarea class="textarea" placeholder="Address" type="type" Message="Address">Address</textarea>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end contact -->
