
@{
    ViewBag.Title = "Blog Details";
}

<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Blog Detail</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md offset-md">
            <div class="article">
                <h1 class="title text-center">Title of the Article</h1>
                <h3 class="date text-right">Ngày đăng 16/3/2024</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed ante at lorem fermentum venenatis. Nullam lacinia semper ante, vel interdum turpis vestibulum a. Donec nec nisl sed odio posuere sodales. Sed in nunc nec elit viverra fermentum. Duis auctor, felis id dapibus sodales, nisi tellus vehicula odio, vel ultricies odio odio eu purus.</p>
            </div>
        </div>
    </div>
</div>

