
@{
    ViewBag.Title = "Blog Details";
}
@model DormitoryManagement.Models.Blog
<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Blog Detail</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md offset-md">
            <div class="article">
                <h1 class="title text-center">@ViewBag.Tit</h1>
                <h3 class="date text-right">Ngày đăng: @ViewBag.CreateDate</h3>
                <p>@ViewBag.Content</p>
            </div>
        </div>
    </div>
</div>

