
@{
    ViewBag.Title = "PaymentConfirm";
}
<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Payment Confirmation</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content-wrapper" style="min-height: 50vh; display: flex; justify-content: center; align-items: center;">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <h2 class="alert alert-success text-center">@ViewBag.Message</h2>
            </div>
        </div>
    </div>
</div>
