
@{
    ViewBag.Title = "PaymentConfirm";
}

<div id="content-wrapper">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="text-center text-gray-800 mt-5 mb-5">@ViewBag.Message</h2>
            </div>
        </div>
    </div>
</div>
