@{
    ViewBag.Title = "Tạo học phí ký túc xá";

}
@model DormitoryManagement.Models.FeePayment

<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="text-center">Tạo học phí ký túc xá</h2>
        </div>

        <div class="card-body">
            @using (Html.BeginForm("Index", "TuitionFee", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="semester">Học kỳ:</label>
                    @Html.TextBoxFor(m => m.Semester, new { @class = "form-control", @type = "text", @name = "semester", @id = "semester", @required = "required" })
                </div>
                <div class="form-group">
                    <label for="content">Nội dung:</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @row = "3", @id = "description", @placeholder = "Nhập nội dung", @required = "required" })
                </div>
                <div class="form-group">
                    <label for="dueDate">Ngày đóng:</label>
                    @Html.TextBoxFor(m=>m.DueDate, new { @class = "form-control",@type = "date" ,@name = "dueDate", @id = "dueDate", @required = "required" })
                </div>
                <div class="form-group">
                    <label for="expiryDate">Ngày hết hạn:</label>
                    @Html.TextBoxFor(m => m.DueDate, new { @class = "form-control", @type = "date", @name = "expiryDate", @id = "expiryDate", @required = "required" })

                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Tạo học phí</button>
                </div>
            }
            
        </div>
    </div>
</div>
